body{
	font-family: 'Open Sans' , sans-serif;
}
.cont{
		border:1px solid transparent;
		position: relative;
		top: 50%;
		transform:translateY(-50%);
}
header{
	nav.navbar{
		margin-bottom: 0;
	    background-color: rgbA(0, 0, 0, 0.4);
	    border-width: 0 0 1px 0;
	    border-color: transparent;
	    height: 65px;
	    padding-top: 12px;

		a.navbar-brand{
			
				color: rgba(236, 43, 95, 0.99);
				text-decoration: none;
				font-weight: bold;
				font-size: 25px;
		}

		&.navbar-default .navbar-nav>li>a {
			&,&:hover,&:visited, &:link{

			color: #FFF;
			}
			&:hover{
				border-bottom: 3px solid #FFF;
			}
		}
	}
}